<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  {{!-- for favicon --}}
  <link rel="shortcut icon" href="css/favicon.png" type="image/x-icon">
  {{!-- for scrolling --}}
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <!-- parallax section -->
  <link rel="stylesheet" href="jarallax.css">
<!-- fotter -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  
  <link rel="stylesheet" href="css/sty.css">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <title>Pak Scholar Institute</title>
</head>

<body style="background-color: #b9b8b8; color:#fff;">
  <!-- <body class="bg-dark text-white">
  <div class="ccontainer">
    <div class="loader"><span></span></div>
</div> -->

  {{>navbar}}



  <div id="header">
  </div>
  <div class="bg-text">
    <h1><b>Pak Scholars Institute</b></h1>
    <a class="but" href="/register">Contact Us</a>
  </div>


  <div class="item2">
    <h1 data-aos="fade-up" data-aos-duration="2000" style="font-size: calc(1.1rem + 1.4vw);">Pak Scholars Institute
    </h1>
  </div>
  <br>

  <div class="cen">
    <img data-aos="fade-up" data-aos-duration="2000" src="/image/gh.png" class="logo" alt="" width="230" height="230">
  </div>
  <section>
    <div data-aos="fade-up" data-aos-duration="2000" class="boox">
      {{!-- <h2>Scrolling effect</h2> --}}
      <div class="container">
        <div class="imgBx jarallax">
          <img src="/image/img1.jpg" class="jarallax-img">
        </div>
        <div class="conteent" data-jarallax-element="-200 0">
          <p data-aos="fade-up" data-aos-duration="1000">Pak Scholars Institute is among one of the largest Institute on
            internet with vast experience of teaching
            Science, English, Mathematics, Arabic, Urdu, Calculus and Holy Quran online and having a large number of
            satisfied students all over the World.</p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div data-aos="fade-up" data-aos-duration="1000" class="boox">
      <h2 data-aos="fade-up" data-aos-duration="1000" style="color: black;">Holy Quran</h2>
      <div class="container">
        <div class="imgBx jarallax">
          <img src="/image/dgg.jpg" class="jarallax-img">
        </div>
        <div class="conteent" data-jarallax-element="-200 0">
          <p data-aos="fade-up" data-aos-duration="1000">Learn Quran online with proper Tajweed at Pak Scholars
            Institute. An online institute that facilitates
            students to learn Holy Quran while sitting at home or on the go. We offer several courses with the titles
            “Learn Noorani Qaida”, “Learn Quran with Tajweed Online“, “Quran Memorization“, “Quran Translation” and
            “Quran Tafseer“.</p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div data-aos="fade-up" data-aos-duration="1000" class="boox">
      <h2 data-aos="fade-up" data-aos-duration="1000" style="color: black;">ADVANTAGE OF LEARNING WITH US</h2>
      <div class="container">
        <div class="imgBx jarallax">
          <img src="/image/re.jpg" class="jarallax-img">
        </div>
        <div class="conteent" data-jarallax-element="-200 0">
          <p data-aos="fade-up" data-aos-duration="1000">
            Now adays technology is working better in teaching profession. online learning is an interaction source
            between teacher and student. So start Learn online Classes With Pak Scholars Institute. We have high
            qualified and professional Teachers who have skills in English, Arabic and Urdu language.
          </p>
        </div>
      </div>
    </div>
  </section>

  <div style="margin: 0px 6px;" data-aos="fade-up" data-aos-duration="1000" class="row">
    <div class="col-lg-5 m-auto">
      <img class=" rounded-circle" width="145" height="145" src="/image/gh.png" role="img"
        aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
      <title>Placeholder</title>
      <rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em"></text>
      </img>

      <h2 style="color: black;" data-aos="fade-up" data-aos-duration="1000">Online Teaching</h2>
      <p style="color: black;" data-aos="fade-up" data-aos-duration="1000">Offering the flexibility to learn at home! Our dedicated
        Scholars help students to pursue their passion by
        providing a more personalized approach to learning. We are striving at our best to provide students with
        modern virtual schooling tools at an early age ensuring the innovating and futuristic approaches that your
        child thrives not only as the good student but also as a good citizen.
      </p>
      <a class="but" href="#det" role="button">View details</a>
    </div><!-- /.col-lg-4 -->
    <div data-aos="fade-up" data-aos-duration="1000" class="col-lg-5">
      <img class="bd-placeholder-img rounded-circle" width="140" height="140"
        src="https://image.freepik.com/free-vector/religious-book-quraan-illustration_1394-215.jpg" role="img"
        aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
      <title>Placeholder</title>
      <rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em"></text>
      </img>
      <h2 style="color: black;" data-aos="fade-up" data-aos-duration="1000">Quran Teaching</h2>
      <p style="color: black;" data-aos="fade-up" data-aos-duration="1000">Pak Scholars Institute is one of the internationally leading
        Learning Quran institutes in the UK , USA, Canada,
        Australia, Europe and Middle-East due to its authenticity, quality of service, convenience and flexible plans
        and affordable fee structure.
      </p>
      <p><a class="but" href="#deta" role="button">View details »</a></p>
    </div><!-- /.col-lg-4 -->
  </div>
  <br><br>
  <div style="margin: 0px 20px;">
    <div data-aos="fade-up" data-aos-duration="1000" class="row featurette">
      <div class="col-md-5 box5 mx-auto">
        <h3 data-aos="fade-up" data-aos-duration="1000" class="box6">Parent's Involvement<span
            class="text-muted"></span></h3>
        <p class="box7" data-aos="fade-up" data-aos-duration="1000">If need be, parents can sit through classes or use
          recorded lectures to help their child later. Our portal integrates all tasks with a robust notifications system to keep parents informed of any homework or
          exam. Parents can review their child’s progress at any time anywhere.</p>
      </div>
      <div data-aos="fade-up" data-aos-duration="1000" class="col-md-5">
        <img id="radius2" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
          width="450" height="400"
          src="/image/add.jpg" role="img"
          aria-label="Placeholder: 300x300" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em"></text>
        </img>
      </div>
    </div>
    <br><br>
    <div data-aos="fade-up" data-aos-duration="1000" class="row featurette">
      <div class="col-md-5 box5 order-md-2">
        <h3 class="box6" data-aos="fade-up" data-aos-duration="1000">Accessibility<span
            class="text-muted"></span>
        </h3>
        <p class="box7" data-aos="fade-up" data-aos-duration="1000">
          Pak Scholars Institute is reachable 24/7. Students can contact at
          their convenience. Our sessions will be recorded and available for revision, therefore eliminating the need
          for affluent tuitions. Those Parents whose job requires them to travel will specifically benefit from
          this program.

        </p>
      </div>
      <div data-aos="fade-up" data-aos-duration="1000" class="col-md-5 order-md-1 m-auto">
        <img id="radius" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="450"
          height="400" src="/image/img2.jpg"
          role="img" aria-label="Placeholder: 300x300" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em"></text>
        </img>
      </div>
    </div>
    <br><br>
    <div data-aos="fade-up" data-aos-duration="1000" class="row featurette">
      <div class="col-md-5 box5 mx-auto">
        <h3 class="box6" data-aos="fade-up" data-aos-duration="1000">Modern Education<span class="text-muted"></span>
        </h3>
        <p class="box7" data-aos="fade-up" data-aos-duration="1000">
          It’s time to leave behind conventional learning and embrace modern educational gears. Our coaching
          tactics are designed to spark innovation and creativity in students. This will provide the next
          generation with a viable edge in today’s energetic environment.
        </p>
      </div>
      <div data-aos="fade-up" data-aos-duration="1000" class="col-md-5">
        <img id="radius2" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
          width="450" height="400"
          src="/image/img3.jpg" role="img"
          aria-label="Placeholder: 300x300" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em"></text>
        </img>
      </div>
    </div>
    <br><br>
    <div data-aos="fade-up" data-aos-duration="1000" class="row featurette">
      <div class="col-md-5 box5 order-md-2">
        <h3 data-aos="fade-up" data-aos-duration="1000" class="box6"> Cost Effective<span class="text-muted"></span>
        </h3>
        <p class="box7" data-aos="fade-up" data-aos-duration="1000">
          Not only do parents save on uniform, printed copies but hefty transport expenses are a thing of the
          past. We translate all the cost savings of a brick-and-mortar school into student’s fee and invest it in
          improving the quality of education.


        </p>
      </div>
      <div data-aos="fade-up" data-aos-duration="1000" class="col-md-5 order-md-1 m-auto">
        <img id="radius" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="450"
          height="400" src="/image/img4.jpg"
          role="img" aria-label="Placeholder: 300x300" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em"></text>
        </img>
      </div>
    </div>
    <br><br>
    <div data-aos="fade-up" data-aos-duration="1000" class="row featurette">
      <div class="col-md-5 box5 mx-auto">
        <h3 data-aos="fade-up" data-aos-duration="1000" class="box6">Safe environment<span class="text-muted"></span>
        </h3>
        <p class="box7" data-aos="fade-up" data-aos-duration="1000">
          We have a very safe and motivating environment in Pak Scholars Institute. Which motivate our teachers to teach
          their students with fresh mind.
        </p>
      </div>
      <div data-aos="fade-up" data-aos-duration="1000" class="col-md-5">
        <img id="radius2" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
          width="450" height="400"
          src="/image/ree.jpg" role="img"
          aria-label="Placeholder: 300x300" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em"></text>
        </img>
      </div>
    </div>
    <br><br>
    <div data-aos="fade-up" data-aos-duration="1000" class="row featurette">
      <div class="col-md-5 box5 order-md-2">
        <h3 data-aos="fade-up" data-aos-duration="1000" class="box6"> Learn at Your Pace<span class="text-muted"></span>
        </h3>
        <p class="box7" data-aos="fade-up" data-aos-duration="1000">
Not feeling well or having difficulty remembering what was taught in the last class or before that, don’t
worry. You can view the recorded lectures and proceed at your own pace. You can also ask your teacher to revise last lesson.
  {{!-- Pak Scholars Institute provides dedicated classes to our students so teacher can focus on student.   --}}



        </p>
      </div>
      <div data-aos="fade-up" data-aos-duration="1000" class="col-md-5 order-md-1 m-auto">
        <img id="radius" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="450"
          height="400" src="/image/img5.jpg"
          role="img" aria-label="Placeholder: 300x300" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em"></text>
        </img>
      </div>
    </div>
  </div>
  <br><br>
  <h1 data-aos="fade-up" data-aos-duration="1000" style="display: flex; justify-content: center; align-items: center;">
    Quran with tajweed</h1>
  <div style="background:#1a1b1bb0!important;" class="movingtext" id="det">
    <p data-aos="fade-up" data-aos-duration="500">
      Pak Scholars Institute is a largest Institute on internet with vast experience of teaching Science, English,
      Mathematics, Arabic, Urdu, Calculus and Holy Quran online and having a large number of satisfied students all over
      the World including USA, Canada, Australia and UK. We are working on these countries China, Japan, UAE, Australia,
      Ireland, Italy, France and other countries. Check our website on internet but the most important thing of Teaching
      with us is Reliability and Affordability which is rarely available on other Institutes. It's a great opportunity
      for everyone and especially for Muslims to learn Quran and other subjects according to their schedule. The main
      key to check our proficiency in this regard is to try our Three days Free Trial Classes which are absolutely free
      just for your assessment.
    </p><br>
    <p id="deta" data-aos="fade-up" data-aos-duration="500">If you are living in any a country where you face difficulty while
      finding tutor for your kid. If you are living
      in non-Muslim country then you must know that there are few number of Quran Institute in USA and Europe. Due to
      this reason, most of the persons cannot teach Quran to their kids. Therefore, we have resolved your problem by
      offering online Quran teaching. We are offering equal opportunities for adults and kids and we have quality
      scholars for both. We are offering online classes for your kids and we have Scholars from all countries who can
      teach Quran to kids living in any country. They can speak different languages so you will not need to worry about
      language.
    </p><br>
    <p data-aos="fade-up" data-aos-duration="500">
      Satisfaction of our clients is very important for us. If you are not satisfied with our Scholar, you may contact
      with our customer support. Our customer support is available for 24/7 and we are here to listen your problems. Now
      adults and kids, both can learn online at home without using any irrelevant course materials. Pak Scholars
      Institute is providing the opportunity to kids and adults to learn the other subjects and Holy Quran word by word
      at home
    </p>
  </div>
  {{!-- <div data-aos="fade-up" data-aos-duration="2000" class="parallax"></div> --}}

  <div data-aos="fade-up" data-aos-duration="1000" style="background: #7a7c7d!;" class="album py-5">
    <div data-aos="fade-up" data-aos-duration="1000" class="container">

      <div class="rounded-circle row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div data-aos="fade-up" data-aos-duration="1000" class="col rounded">
          <div class="rounded card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="/image/reee.jpg" role="img"
              aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect>
            <!-- <text class="bg-dark" x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></img>
             -->
            <div style="background:  #535455!important;" class="card-body">
              <h3 style="display: flex; justify-content: center;">Quran</h3>
              <p class="card-text">
Study Quran online with classes and proper course outline from Pak Scholars Institute, Scholars. Give your child the gift to read and learn Holy Quran. Our courses are designed for kids, teens and adults to be fun and inspire a love of learning.
</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="but" href="/register">Register Now</a>
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary"> -->

                  <!-- </button> -->
                </div>
                <!-- <small class="text-muted">9 mins</small> -->
              </div>
            </div>
          </div>
        </div>
        <div data-aos="fade-up" data-aos-duration="1000" class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="/image/ree.jpg" role="img"
              aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect>
            <!-- <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text> -->
            </img>

            <div style="background:#535455!important;" class="card-body">
              <h3 style="display: flex; justify-content: center;">Noorani Qaida</h3>
              <p class="card-text">
Study Noorani Qaida online with proper course outline from Pak Scholars Institute, Scholars. Give your child the gift to read Holy Quran with proper rules. Our courses are designed for kids, teens and adults to be fun and inspire a love of learning.
</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="but" href="/register">Register Now</a>
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                </div>
                <!-- <small class="text-muted">9 mins</small> -->
              </div>
            </div>
          </div>
        </div>
        <div data-aos="fade-up" data-aos-duration="1000" class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="/image/reee.jpg" role="img"
              aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect>
            <!-- <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text> -->
            </img>

            <div style="background: #535455!important;" class="card-body">
              <h3 style="display: flex; justify-content: center;">Tafseer</h3>
              <p class="card-text">
Study Quran Tafseer with classes and proper course outline from Pak Scholars Institute, Scholars. Give your child the gift to learn Holy Quran teachings. Our courses are designed for kids, teens and adults to be fun and inspire a love of learning.
</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="but" href="/register">Register Now</a>
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                </div>
                <!-- <small class="text-muted">9 mins</small> -->
              </div>
            </div>
          </div>
        </div>

        <div data-aos="fade-up" data-aos-duration="1000" class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225"
              src="/image/img6.jpg" role="img" aria-label="Placeholder: Thumbnail"
              preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect>
            <!-- <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text> -->
            </img>

            <div style="background: #535455!important;" class="card-body">
              <h3 style="display: flex; justify-content: center;">Islamic Education</h3>
              <p class="card-text">
Study Islamic Education online with proper course outline from Pak Scholars Institute, Scholars. Give your child the gift to learn what is our Islamic values. Our courses are designed for kids, teens and adults to be fun and inspire a love of learning.

                </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="but" href="/register">Register Now</a>
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                </div>
                <!-- <small class="text-muted">9 mins</small> -->
              </div>
            </div>
          </div>
        </div>
        <div data-aos="fade-up" data-aos-duration="1000" class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="/image/bgg.jpg" role="img"
              aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect>
            <!-- <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text> -->
            </img>

            <div style="background: #535455!important;" class="card-body">
              <h4 style="display: flex; justify-content: center;">Urdu</h4>
              <p class="card-text">
Study Urdu language online with classes from Pak Scholars Institute experts. Give your child the skill of one of the world’s utmost usually spoken languages. Our courses for kids, teens and adults are designed to be fun and inspire a love of learning.
</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="but" href="/register">Register Now</a>
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                </div>
                <!-- <small class="text-muted">9 mins</small> -->
              </div>
            </div>
          </div>
        </div>
        <div data-aos="fade-up" data-aos-duration="1000" class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="/image/img7.jpg" role="img"
              aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect>
            <!-- <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text> -->
            </img>

            <div style="background:#535455!important;" class="card-body">
              <h3 style="display: flex; justify-content: center;">English</h3>
              <p class="card-text">
Study English online with classes and courses from Pak Scholars Institute experts. Give your child the skill of one of the world’s utmost usually spoken languages. Our courses for kids, teens and adults are designed to be fun and inspire a love of learning.
</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="but" href="/register">Register Now</a>
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                </div>
                <!-- <small class="text-muted">9 mins</small> -->
              </div>
            </div>
          </div>
        </div>

        <div data-aos="fade-up" data-aos-duration="1000" class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225"
              src="/image/img8.jpg" role="img" aria-label="Placeholder: Thumbnail"
              preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect>
            <!-- <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text> -->
            </img>

            <div style="background: #535455!important;" class="card-body">
              <h3 style="display: flex; justify-content: center;">Computer Science</h3>
              <p class="card-text">
Study Computer Science online with classes and courses from Pak Scholars Institute Computer scientists. Give your child the skill to learn computer. Our courses for kids, teens and adults are designed to be fun and inspire a love of learning.
</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="but" href="/register">Register Now</a>
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                </div>
                <!-- <small class="text-muted">9 mins</small> -->
              </div>
            </div>
          </div>
        </div>
        <div data-aos="fade-up" data-aos-duration="1000" class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="/image/img9.jpg"
              role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect>
            <!-- <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text> -->
            </img>

            <div style="background: #535455!important;" class="card-body">
              <h3 style="display: flex; justify-content: center;">Math</h3>
              <p class="card-text">
Study Math online with classes and courses from Pak Scholars Institute Mathematicians. Give your child the skill of solving Math’s Equations and Problems. Our courses for kids, teens and adults are designed to be fun and inspire a love of learning.
</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button> -->
                  <a class="but" href="/register">Register Now</a>
                </div>
                <!-- <small class="text-muted">9 mins</small> -->
              </div>
            </div>
          </div>
        </div>
        <div data-aos="fade-up" data-aos-duration="1000" class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225"
              src="/image/img10.jpg" role="img" aria-label="Placeholder: Thumbnail"
              preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect>
            <!-- <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text> -->
            </img>

            <div style="background: #535455!important;" class="card-body">
              <h3 style="display: flex; justify-content: center;">Calculas</h3>
              <p class="card-text">
Study Calculus online with classes and courses from Pak Scholars Institute Mathematicians. Give your child the skill of solving Calculus Problems. Our courses for kids, teens and adults are designed to be fun and inspire a love of learning.
</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="but" href="/register">Register Now</a>
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                </div>
                <!-- <small class="text-muted">9 mins</small> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  {{>footer}}



  <!-- <script type="text/javascript">
      $(window).on("load", function(){
        $(".ccontainer").fadeOut(9000);
      }) 
    </script>  -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  <script type="text/javascript">
    const bg = document.getElementById('header');
    window.addEventListener('scroll', function () {
      bg.style.backgroundSize = 160 - +window.pageYOffset / 12 + '%';
      bg.style.opacity = 1 - +window.pageYOffset / 700 + '';
    })
  </script>
  <script src="css/jarallax.js"></script>
  <script src="css/jarallax-element.js"></script>
  <script type="css/text/javascript">
      jarallax(document.querySelectorAll('.jarallax'), {
        speed: 0.5
      });
    </script>
     <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
    integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
    integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
    crossorigin="anonymous"></script>

</body>

</html>