<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v5.3.0, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.3.0, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="/logo5.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>Home</title>
  <link rel="stylesheet" href="/tether.min.css">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <link rel="stylesheet" href="/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/style.css">
  <link rel="preload" as="style" href="/mbr-additional.css"><link rel="stylesheet" href="/mbr-additional.css" type="text/css">
  
  
  
  
</head>
<body>
  
  <section class="features3 cid-sqdQyyFj7Y" id="features3-0">
    
    
    <div class="container">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-1"><strong>Holy Quran</strong></h4>
            
        </div>
        <div class="row mt-4">
            <div class="item features-image сol-12 col-md-6 col-lg-4 active">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="/img17-512x512.png" alt="" data-slide-to="3">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-2"><strong>Para 1</strong></h5>
                        
                        
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="/1.pdf" class="btn item-btn btn-black display-7" target="_blank">&nbsp;Open&nbsp;<br></a></div>
                </div>
            </div><div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="/img17-512x512.png" data-slide-to="0" alt="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-2"><strong>Para 2</strong></h5>
                        
                        
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="/2.pdf" class="btn item-btn btn-black display-7" target="_blank">&nbsp;Open&nbsp;</a></div>
                </div>
            </div><div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="/img17-512x512.png" data-slide-to="1" alt="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-2"><strong>Para 3</strong></h5>
                        
                        
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="/3.pdf" class="btn item-btn btn-black display-7" target="_blank">&nbsp;Open&nbsp;</a></div>
                </div>
            </div>
            
            
        </div>
    </div>
</section>

<section class="features3 cid-sqdQAvGAEW" id="features3-1">
    
    
    <div class="container">
        
        <div class="row mt-4">
            <div class="item features-image сol-12 col-md-6 col-lg-4 active">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="/img17-512x512.png" data-slide-to="0" alt="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-2"><strong>Para 4</strong></h5>
                        
                        
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="/4.pdf" class="btn item-btn btn-black display-7" target="_blank">&nbsp;Open&nbsp;</a></div>
                </div>
            </div><div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="/img17-512x512.png" data-slide-to="1" alt="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-2"><strong>Para 5</strong></h5>
                        
                        
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="/5.pdf" class="btn item-btn btn-black display-7" target="_blank">&nbsp;Open&nbsp;</a></div>
                </div>
            </div>
            
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="/img17-512x512.png" data-slide-to="2" alt="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-2"><strong>Para 6</strong></h5>
                        
                        
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="/6.pdf" class="btn item-btn btn-black display-7" target="_blank">&nbsp;Open&nbsp;</a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features3 cid-sqdQAIFrDe" id="features3-2">
    
    
    <div class="container">
        
        <div class="row mt-4">
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="/img17-512x512.png" alt="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-2"><strong>Para 7</strong></h5>
                        
                        
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="/7.pdf" class="btn item-btn btn-black display-7" target="_blank">&nbsp;Open&nbsp;</a></div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="/img17-512x512.png" alt="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-2"><strong>Para 8</strong></h5>
                        
                        
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="/8.pdf" class="btn item-btn btn-black display-7" target="_blank">&nbsp;Open&nbsp;</a></div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="/img17-512x512.png" alt="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-2"><strong>Para 9</strong></h5>
                        
                        
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="/9.pdf" class="btn item-btn btn-black display-7" target="_blank">&nbsp;Open&nbsp;</a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features3 cid-sqdQAS0OYZ" id="features3-3">
    
    
    <div class="container">
        
        <div class="row mt-4">
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="/img17-512x512.png" alt="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-2"><strong>Para 10</strong></h5>
                        
                        
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="/10.pdf" class="btn item-btn btn-black display-7" target="_blank">&nbsp;Open&nbsp;</a></div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="/img17-512x512.png" alt="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-2"><strong>Para 11</strong></h5>
                        
                        
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="/11.pdf" class="btn item-btn btn-black display-7" target="_blank">&nbsp;Open&nbsp;</a></div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="/img17-512x512.png" alt="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-2"><strong>Para 12</strong></h5>
                        
                        
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="/12.pdf" class="btn item-btn btn-black display-7" target="_blank">&nbsp;Open&nbsp;</a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features3 cid-sqdQDK4OPR" id="features3-4">
    
    
    <div class="container">
        
        <div class="row mt-4">
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="/img17-512x512.png" alt="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-2"><strong>Para 13</strong></h5>
                        
                        
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="/13.pdf" class="btn item-btn btn-black display-7" target="_blank">&nbsp;Open&nbsp;</a></div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="/img17-512x512.png" alt="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-2"><strong>Para 14</strong></h5>
                        
                        
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="/14.pdf" class="btn item-btn btn-black display-7" target="_blank">&nbsp;Open&nbsp;</a></div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="/img17-512x512.png" alt="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-2"><strong>Para 15</strong></h5>
                        
                        
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="/15.pdf" class="btn item-btn btn-black display-7" target="_blank">&nbsp;Open&nbsp;</a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features3 cid-sqdQE5NpnR" id="features3-5">
    
    
    <div class="container">
        
        <div class="row mt-4">
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="/img17-512x512.png" alt="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-2"><strong>Para 16</strong></h5>
                        
                        
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="/16.pdf" class="btn item-btn btn-black display-7" target="_blank">&nbsp;Open&nbsp;</a></div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="/img17-512x512.png" alt="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-2"><strong>Para 17</strong></h5>
                        
                        
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="/17.pdf" class="btn item-btn btn-black display-7" target="_blank">&nbsp;Open&nbsp;</a></div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="/img17-512x512.png" alt="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-2"><strong>para 18</strong></h5>
                        
                        
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="/18.pdf" class="btn item-btn btn-black display-7" target="_blank">&nbsp;Open&nbsp;</a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features3 cid-sqdQEAKdgJ" id="features3-6">
    
    
    <div class="container">
        
        <div class="row mt-4">
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="/img17-512x512.png" alt="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-2"><strong>Para 19</strong></h5>
                        
                        
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="/19.pdf" class="btn item-btn btn-black display-7" target="_blank">&nbsp;Open&nbsp;</a></div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="/img17-512x512.png" alt="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-2"><strong>Para 20</strong></h5>
                        
                        
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="/20.pdf" class="btn item-btn btn-black display-7" target="_blank">&nbsp;Open&nbsp;</a></div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="/img17-512x512.png" alt="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-2"><strong>para 21</strong></h5>
                        
                        
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="/21.pdf" class="btn item-btn btn-black display-7" target="_blank">&nbsp;Open&nbsp;</a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features3 cid-sqdQF9MPT8" id="features3-7">
    
    
    <div class="container">
        
        <div class="row mt-4">
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="/img17-512x512.png" alt="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-2"><strong>Para22</strong></h5>
                        
                        
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="/22.pdf" class="btn item-btn btn-black display-7" target="_blank">&nbsp;Open&nbsp;</a></div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="/img17-512x512.png" alt="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-2"><strong>Para 23</strong></h5>
                        
                        
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="/23.pdf" class="btn item-btn btn-black display-7" target="_blank">&nbsp;Open&nbsp;</a></div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="/img17-512x512.png" alt="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-2"><strong>Para 24</strong></h5>
                        
                        
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="/24.pdf" class="btn item-btn btn-black display-7" target="_blank">&nbsp;Open&nbsp;</a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features3 cid-sqdQFKO9eV" id="features3-8">
    
    
    <div class="container">
        
        <div class="row mt-4">
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="/img17-512x512.png" alt="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-2"><strong>Para 25</strong></h5>
                        
                        
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="/25.pdf" class="btn item-btn btn-black display-7" target="_blank">&nbsp;Open&nbsp;</a></div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="/img17-512x512.png" alt="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-2"><strong>Para 26</strong></h5>
                        
                        
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="/26.pdf" class="btn item-btn btn-black display-7" target="_blank">&nbsp;Open&nbsp;</a></div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="/img17-512x512.png" alt="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-2"><strong>Para 27</strong></h5>
                        
                        
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="/27.pdf" class="btn item-btn btn-black display-7" target="_blank">&nbsp;Open&nbsp;</a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features3 cid-sqdQGa0yok" id="features3-9">
    
    
    <div class="container">
        
        <div class="row mt-4">
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="/img17-512x512.png" alt="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-2"><strong>Para 28</strong></h5>
                        
                        
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="/28.pdf" class="btn item-btn btn-black display-7" target="_blank">&nbsp;Open&nbsp;</a></div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="/img17-512x512.png" alt="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-2"><strong>para 29</strong></h5>
                        
                        
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="/29.pdf" class="btn item-btn btn-black display-7" target="_blank">&nbsp;Open&nbsp;</a></div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="/img17-512x512.png" alt="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-2"><strong>Para 30</strong></h5>
                        
                        
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="/30.pdf" class="btn item-btn btn-black display-7" target="_blank">&nbsp;Open&nbsp;</a></div>
                </div>
            </div>
        </div>
    </div>
</section><section style="background-color: #fff; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif; color:#aaa; font-size:12px; padding: 0; align-items: center; display: flex;"><a href="https://mobirise.site/s" style="flex: 1 1; height: 3rem; padding-left: 1rem;"></a><p style="flex: 0 0 auto; margin:0; padding-right:1rem;">Make your own website - <a href="https://mobirise.site/v" style="color:#aaa;">Check this</a></p></section><script src="/jquery.min.js"></script>  <script src="/popper.min.js"></script>  <script src="/tether.min.js"></script>  <script src="/bootstrap.min.js"></script>  <script src="/smooth-scroll.js"></script>  <script src="/js/script.js"></script>  
  
  
 <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i></a></div>
  </body>
</html>